.gravityflow-discussion-item{
    margin-bottom:10px;
}

.gravityflow-dicussion-item-name {
    color:black;
    font-weight:bold;
}

.gravityflow-dicussion-item-date {
    color: #9b9b9b;
    margin-left:8px;
    font-size:90%;
}

.gravityflow-dicussion-item-toggle-display {
    float: right;
}