.gravityflow-discussion-item{
    margin-bottom:10px;
}

.gravityflow-dicussion-item-name {
    color:black;
    font-weight:bold;
}

.gravityflow-dicussion-item-date {
    color: #9b9b9b;
    margin-left:8px;
    font-size:90%;
}

.rtl .gravityflow-dicussion-item-date {
    margin-right:8px;
}

.gravityflow-dicussion-item-toggle-display {
    float: right;
}

.rtl .gravityflow-dicussion-item-toggle-display {
    float: left;
}

@media print {
    .gravityflow-dicussion-item-hidden { 
        display:block !important;
    }

    .gravityflow-dicussion-item-toggle-display { 
        display: none;
    }
}