.repeater-buttons{
    display:inline-block;
}
.gform-routing-users,
.gform-routing-field{
    width:100%;
	min-width:150px;
}
.gform-routing-operator{
    width:120px;
}
.gform-routing-value{
    width:190px;
}

.mt-_gaddon_setting_workflow_notification_message,
.gravityflow-tab-field span[class^="mt-_gaddon_setting_"] {
    float: right;
    position: relative;
    right: 15px;
    top: 90px;
}

#wp-_gaddon_setting_workflow_notification_message-wrap,
.gravityflow-tab-field div.wp-editor-wrap {
    margin-right: 15px;
}

.gform-routing-row{
    vertical-align: top;
}

#assignees,
#editable_fields{
    position: absolute;
    left: -9999px;
}

table.gforms_form_settings th{
    border-left: 0;
    padding-left: 0!important;
}

table.gforms_form_settings tr.gravityflow_sub_setting th{
    border-left: 1px dashed #dfdfdf;
    padding-left: 10px!important;
}

table.gforms_form_settings tr.gravityflow_sub_setting td{
    padding-left: 10px;
}

table.gform-routings thead th{
    padding: 0;
}

table.gform-routings tr.gform-routing-row td{
    vertical-align: top;
}

table.gform-routings tr.gform-routing-row td .repeater-buttons{
    white-space: nowrap;
}

.ui-tabs-nav{
    background-color:#f6fbfd !important;
}

.gravityflow-tab-checked{
    color:green;
}

.gravityflow-tab-field{
    margin-bottom: 20px;
}

.gravityflow-tab-field-label{
    margin-bottom: 4px;
    font-weight:bold;
}

.gravityflow-user-routing{
    border:1px solid #EEE;
    padding: 10px;
}

.ms-container{
    width:550px!important;
}

.gform-routing-input-field{
    width:100%;
}

#gaddon-setting-row-step_type td label{
	display:inline-block;
    margin-bottom: 5px;
    color:black;
    height:85px;
}

.gravityflow-schedule-type-container{
    margin:5px 0 5px 0;
}

tr#gaddon-setting-row-step_type input:checked + label > span{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
tr#gaddon-setting-row-step_type input:checked + label {
    background-color:white;
    border: 1px solid #CCCCCC;
}
tr#gaddon-setting-row-step_type label > span {
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
    filter: brightness(1.8) grayscale(1) opacity(.5);
}

.gravityflow-disabled label{
    cursor:default!important;
}

tr#gaddon-setting-row-step_type input:not([disabled]):not([checked]) + label > span:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

tr#gaddon-setting-row-step_type input{
    display:none;
}
tr#gaddon-setting-row-step_type label > span{
    padding-top:5px;
    width:130px;
    height:65px;
}

tr#gaddon-setting-row-step_type label > span > img{
    width:32px;
    height:32px;
    margin:5px;
    vertical-align:middle;
}

tr#gaddon-setting-row-step_type label{
    border:1px solid #EEEEEE;
    background-color:#F9F9F9;
}

tr#gaddon-setting-row-step_type .gaddon-setting-radio{
    text-align:center;
}

tr#gaddon-setting-row-step_type label > span > i {
    width:32px;
    height:32px;
    display:inline-block;
    font-size:2.5em;
    margin:5px;
    color:#0074a2;
}

.gravityflow-step-highlight-type-container,
.gravityflow-step-highlight-color-container,
.gravityflow-schedule-type-container,
.gravityflow-schedule-delay-container,
.gravityflow-schedule-date-container,
.gravityflow-expiration-type-container,
.gravityflow-expiration-delay-container,
.gravityflow-expiration-date-container{
    margin: 10px 0 10px 0;
}

.gravityflow-step-highlight-type-container {
    display: none; 
}

.gravityflow_display_fields_selected_container{
    margin-top:5px;
}

.settings-field-map-table .custom-value-reset {
    background: url( ../images/xit.gif ) no-repeat scroll 0 0 transparent;
    cursor:pointer;
    display:none;
    position:absolute;
    text-indent:-9999px;
    width:10px;
    height: 10px;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.settings-field-map-table .custom-value-reset {
    margin-top: 10px;
    margin-left: 165px;
}

.settings-field-map-table .custom-value-container:hover .custom-value-reset { display:block; }

.gravityflow-sub-setting{
    margin-bottom: 10px;
}
