.repeater-buttons{
    display:inline-block;
}
.gform-routing-users,
.gform-routing-field{
    width:100%;
	min-width:150px;
}
.gform-routing-operator{
    width:120px;
}
.gform-routing-value{
    width:190px;
}

.mt-_gaddon_setting_workflow_notification_message,
.mt-_gaddon_setting_assignee_notification_message,
.mt-_gaddon_setting_rejection_notification_message,
.mt-_gaddon_setting_approval_notification_message,
.mt-_gaddon_setting_assignee_notification_message {
    float: right;
    position: relative;
    right: 15px;
    top: 90px;
}

#wp-_gaddon_setting_workflow_notification_message-wrap,
#wp-_gaddon_setting_assignee_notification_message-wrap,
#wp-_gaddon_setting_rejection_notification_message-wrap,
#wp-_gaddon_setting_approval_notification_message-wrap,
#wp-_gaddon_setting_assignee_notification_message-wrap {
    margin-right: 15px;
}

.gform-routing-row{
    vertical-align: top;
}

#assignees,
#editable_fields,
#editable_fields{
    width:18em;
    height:10em;
}

table.gforms_form_settings th{
    border-left: 0;
    padding-left: 0!important;
}

table.gforms_form_settings tr.gravityflow_sub_setting th{
    border-left: 1px dashed #dfdfdf;
    padding-left: 10px!important;
}

table.gforms_form_settings tr.gravityflow_sub_setting td{
    padding-left: 10px;
}

table.gform-routings thead th{
    padding: 0;
}

table.gform-routings tr.gform-routing-row td{
    vertical-align: top;
}

table.gform-routings tr.gform-routing-row td .repeater-buttons{
    white-space: nowrap;
}

.ui-tabs-nav{
    background-color:#f6fbfd !important;
}

.gravityflow-tab-checked{
    color:green;
}

.gravityflow-tab-field{
    margin-bottom: 20px;
}

.gravityflow-tab-field-label{
    margin-bottom: 4px;
    font-weight:bold;
}

.gravityflow-user-routing{
    border:1px solid #EEE;
    padding: 10px;
}

.ms-container{
    width:550px!important;
}

.gform-routing-input-field{
    width:100%;
}

#gaddon-setting-row-step_type td label{
	display:inline-block;
    margin-bottom: 5px;
    color:black;
}

.gravityflow-schedule-type-container{
    margin:5px 0 5px 0;
}

tr#gaddon-setting-row-step_type input:checked + label > span{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
tr#gaddon-setting-row-step_type input:checked + label {
    background-color:white;
    border: 1px solid #CCCCCC;
}
tr#gaddon-setting-row-step_type label > span {
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
    filter: brightness(1.8) grayscale(1) opacity(.5);
}

.gravityflow-disabled label{
    cursor:default!important;
}

tr#gaddon-setting-row-step_type input:not([disabled]):not([checked]) + label > span:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

tr#gaddon-setting-row-step_type input{
    display:none;
}
tr#gaddon-setting-row-step_type label > span{
    padding-top:5px;
    width:130px;
    height:65px;
}

tr#gaddon-setting-row-step_type label > span > img{
    width:32px;
    height:32px;
    margin:5px;
    vertical-align:middle;
}

tr#gaddon-setting-row-step_type label{
    border:1px solid #EEEEEE;
    background-color:#F9F9F9;
}

tr#gaddon-setting-row-step_type .gaddon-setting-radio{
    text-align:center;
}

tr#gaddon-setting-row-step_type label > span > i {
    width:32px;
    height:32px;
    display:inline-block;
    font-size:2.5em;
    margin:5px;
    color:#0074a2;
}