
table#gravityflow-inbox thead tr {
    background: #FFF
}

table#gravityflow-inbox tr:nth-child(even) {
    background: #f9f9f9
}

table#gravityflow-inbox tr:nth-child(odd) {
    background: #FFF
}

table#gravityflow-inbox tbody tr{
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: transparent;
}

table#gravityflow-inbox {
    border-collapse: collapse;
    margin-top:10px;
}

table#workflow-inbox tr:hover {
    background-color: #808080;
}

table#gravityflow-inbox td {
    display: table-cell;
    padding: 0px;
}

table#gravityflow-inbox td a {
    text-decoration: none;
    display: block;
    padding: 10px;
    height: 100%;
}

#gravityflow-no-pending-tasks-container {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 400px;
    text-align: center;
}

#gravityflow-no-pending-tasks-content {
    color: silver;
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

i.gravityflow-inbox-check {
    font-size: 5em;
}

table#gravityflow-inbox th[data-label="ID"],
table#gravityflow-inbox td[data-label="ID"] {
    width: 30px !important;
}

.gravityflow-actions-locked{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
    filter: brightness(1.8) grayscale(1) opacity(.5);
}

.gravityflow-action,
.gravityflow-actions-unlock{
    cursor: pointer;
    margin-right: 5px;
}

.gravityflow-actions-lock{
    margin-right: 5px;
}

.gravityflow-actions{
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}
.gravityflow-actions-unlock,
.gravityflow-actions-spinner{
    display: none;
}

.gravityflow-action-processed{
    cursor: default;
}

.gravityflow-actions-note-field-container{
    position:absolute;
    z-index: 99;
    text-align: left;
    background-color: white;
    border:1px solid silver;
    padding: 5px;

}
.gravityflow-actions-note-field-container textarea {
    width:200px;
}
