
table#gravityflow-inbox thead tr {background: #FFF}
table#gravityflow-inbox tr:nth-child(even) {background: #f9f9f9}
table#gravityflow-inbox tr:nth-child(odd) {background: #FFF}

table#gravityflow-inbox {border-collapse:collapse;}
table#workflow-inbox tr:hover {background-color:#808080;}
table#gravityflow-inbox td {display:table-cell;padding:0px;}
table#gravityflow-inbox td a {text-decoration:none; display:block; padding:10px; height:100%;}

#gravityflow-no-pending-tasks-container{

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height:400px;
    text-align:center;
}

#gravityflow-no-pending-tasks-content{
    color: silver;
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

i.gravityflow-inbox-check{
    font-size: 5em;
}

table#gravityflow-inbox th[data-label="ID"],
table#gravityflow-inbox td[data-label="ID"] {
    width:70px!important;
}

