#gravityflow-initiate-list li{

    border: 4px solid #fff;
}


#gravityflow-initiate-list li a {

    text-decoration: none;

}

#gravityflow-initiate-list li a .panel{

    padding:20px;


}
.gravityflow-initiate-form-title{
    font-size: 1.6em;

}

.gravityflow-initiate-form-description{
    font-size: 1.2em;
    margin-top:10px;
}

